body{
  margin: 0;
  padding: 0;
}
header{
  background-color: #000;
  color: #fff;
   height: 60px;
}
.container {
  max-width:940px;
}
 .logo{
  font-family: 'Coiny', cursive;
  letter-spacing: 5px;
}
nav > a {
  margin: 5px;
  text-transform: uppercase;
  position: relative;
  bottom: 28px;
  color: #fff;
}

.jumbotron{
  background: url('/img/logo2.jpeg')no-repeat center center fixed;
  position: relative;
  /*top: 30px;*/
/*text-align: center;*/
  height: 530px;
  background-size: cover;
  text-align: center;
}

.jumbotron h1 {
  font-size: 56px;
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;

}

.jumbotron h2 {
  /*font-size: 28px;*/
  color: white;
  font-weight: 500;
  text-shadow: 2px 2px 4px #000000;
}

.btn-default {
  /*background-color: #F24F37;
  background-color: rgba(238,68,95,0.9);*/
  border: none;
  border-radius: 8px;
  font-size: 18px;
  color: #fff;
  padding: 10px 60px;
  margin-bottom: 100px;
  letter-spacing: 2px;
}
/*
/*.btn:hover {
   background-color: rgba(238,68,95,1);
   box-shadow: 0px 1px 6px rgba(0,0,0,0.6);
   color: #fff;
   /*padding: 8px 30px;*/
   /*text-decoration: none;
   transition: box-shadow 0.25s;*/
/*}*/*/*/

article{
  background-color: #000;
  color: #fff;
  /*height: inherit;*/
}

article > h2{
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  font-family: 'Coiny', cursive;
}
