<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Palate</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <header>
    <div class="container">
      <h2 class="col-sm-4 logo">Palate</h2>
      <nav class="pull-right nav nav-pills">
        <a role="presentation" href="#">Log In</a>
        <a role="presentation" href="#">About</a>
        <a role="presentation" href="#">Download</a>
      </nav>
    </div>
    <!-- <h1 class="col-sm-4"><%= hello %></h1> -->
  </header>

  <main class="jumbotron">
    <div class="container">
      <h1>Hello!</h1>
      <p>Blah Blah Blah Blah </p>
      <button type="button" class="btn">Sign Up</button>
    </div>
  </main>



  <script type="text/javascript" src="/script/main.js">
  </script>
</body>
</html>
