<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/recipe.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
</head>
<body>
<header>
  <h1>
    Oops !
  </h1>
  <h2>
    We can't seem to find the page you're looking for.
  </h2>
</header>

<main>
  <p>
    Error Code: 404
  </p>
</main>

<marquee behavior="alternate" >
  <h3>
    Palate
  </h3>
</marquee>









</body>
</html>
